.logo {
    border-radius: 10px;
    border-style: solid;
    border-color: black;
    border-width: 1px;
    position: absolute;
    top: 15px;
    left: 15px;
}

body {
    background-image: linear-gradient(to bottom, #8FBEFF, #8E1FD8);
    width: 100%;
    color: black;
}