.comp button {
    width: 30vw;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 7vh;
    border-radius: 10px;
    border: none;
    padding: 0;
    background-color: #8FBEFF;
    font-size: 1rem;
}

.purpleBk button {
    background-color: #D89EFF;
}

.workActive {
    background-color: #0451BD50;
    width: 50%;
    height: 100%;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.breakNotActive {
    background-color: #8FBEFF;
    width: 50%;
    height: 100%;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.workNotActive {
    background-color: #D89EFF;
    width: 50%;
    height: 100%;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.breakActive {
    background-color: #8E1FD850;
    width: 50%;
    height: 100%;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}