body {
    background-image: linear-gradient(to bottom, #8FBEFF, #8E1FD8);
    width: 100%;
    color: black;
}

.timebox {
    background-color: #8FBEFF;
}

.component {
    display: flex;
    flex-direction: column;
    width: 30%;
    justify-content: center;
    align-items: center;
}
