body {
    background-image: linear-gradient(to bottom, #8FBEFF, #8E1FD8);
    width: 100%;
    color: black;
}

.timebox {
    background-color: #8FBEFF80;
    border-radius: 20px;
    width: 30vw;
    height: 30vh;

    /* font stuff */
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
    "wdth" 100;
    font-size: 5em;
}

.component {
    display: flex;
    flex-direction: column;
    width: 30%;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}
